<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.groqdata.consumer.mapper.ConsumerEnterpriseInfoMapper">
    
    <!-- 服务购买方-企业信息ConsumerEnterpriseInfo对象字段映射 -->
    <resultMap type="ConsumerEnterpriseInfo" id="ConsumerEnterpriseInfoResult">
        <result property="id"    column="id"    />
        <result property="entName"    column="ent_name"    />
        <result property="entUscc"    column="ent_uscc"    />
        <result property="entLicenseUrl"    column="ent_license_url"    />
        <result property="entLogoUrl"    column="ent_logo_url"    />
        <result property="consumerAccount"    column="consumer_account"    />
        <result property="auditStatus"    column="audit_status"    />
        <result property="recordStatus"    column="record_status"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBy"    column="update_by"    />
    </resultMap>

    <!-- 服务购买方-企业信息ConsumerEnterpriseInfo对象列表VO -->
    <sql id="selectConsumerEnterpriseInfoVo">
        select  cei.id, cei.ent_name, cei.ent_uscc, cei.ent_license_url, cei.ent_logo_url, cei.consumer_account, cei.audit_status, cei.record_status, cei.create_time, cei.create_by, cei.update_time, cei.update_by 
        from consumer_enterprise_info cei
    </sql>

    <!-- 通用查询服务购买方-企业信息ConsumerEnterpriseInfo列表 -->
    <select id="selectConsumerEnterpriseInfoList" parameterType="ConsumerEnterpriseInfo" resultMap="ConsumerEnterpriseInfoResult">
        <include refid="selectConsumerEnterpriseInfoVo"/>
        <where>  
            <if test="entName != null  and entName != ''"> and cei.ent_name like concat('%', #{entName}, '%')</if>
            <if test="entUscc != null  and entUscc != ''"> and cei.ent_uscc = #{entUscc}</if>
            <if test="entLicenseUrl != null  and entLicenseUrl != ''"> and cei.ent_license_url = #{entLicenseUrl}</if>
            <if test="entLogoUrl != null  and entLogoUrl != ''"> and cei.ent_logo_url = #{entLogoUrl}</if>
            <if test="consumerAccount != null  and consumerAccount != ''"> and cei.consumer_account = #{consumerAccount}</if>
            <if test="auditStatus != null  and auditStatus != ''"> and cei.audit_status = #{auditStatus}</if>
            <if test="recordStatus != null  and recordStatus != ''"> and cei.record_status = #{recordStatus}</if>
            <if test="params.beginCreateTime != null and params.endCreateTime != null "> 
                    and cei.create_time between CAST(#{params.beginCreateTime}  AS TIMESTAMP) and CAST(#{params.endCreateTime} AS TIMESTAMP)
            </if> 
        </where>
        order by cei.create_time desc
    </select>
    
    
    <!-- 根据主键ID查询服务购买方-企业信息ConsumerEnterpriseInfo对象 -->
    <select id="selectConsumerEnterpriseInfoById" parameterType="Long" resultMap="ConsumerEnterpriseInfoResult">
        <include refid="selectConsumerEnterpriseInfoVo"/>
        where cei.id = #{id}
    </select>

    <!-- 新增服务购买方-企业信息ConsumerEnterpriseInfo对象 -->
    <insert id="insertConsumerEnterpriseInfo" parameterType="ConsumerEnterpriseInfo" useGeneratedKeys="true" keyProperty="id">
        insert into consumer_enterprise_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="entName != null and entName != ''">ent_name,</if>
            <if test="entUscc != null and entUscc != ''">ent_uscc,</if>
            <if test="entLicenseUrl != null">ent_license_url,</if>
            <if test="entLogoUrl != null">ent_logo_url,</if>
            <if test="consumerAccount != null and consumerAccount != ''">consumer_account,</if>
            <if test="auditStatus != null">audit_status,</if>
            <if test="recordStatus != null">record_status,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="updateBy != null">update_by,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="entName != null and entName != ''">#{entName},</if>
            <if test="entUscc != null and entUscc != ''">#{entUscc},</if>
            <if test="entLicenseUrl != null">#{entLicenseUrl},</if>
            <if test="entLogoUrl != null">#{entLogoUrl},</if>
            <if test="consumerAccount != null and consumerAccount != ''">#{consumerAccount},</if>
            <if test="auditStatus != null">#{auditStatus},</if>
            <if test="recordStatus != null">#{recordStatus},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
         </trim>
    </insert>

    <!-- 更新服务购买方-企业信息ConsumerEnterpriseInfo对象 -->
    <update id="updateConsumerEnterpriseInfo" parameterType="ConsumerEnterpriseInfo">
        update consumer_enterprise_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="entName != null and entName != ''">ent_name = #{entName},</if>
            <if test="entUscc != null and entUscc != ''">ent_uscc = #{entUscc},</if>
            <if test="entLicenseUrl != null">ent_license_url = #{entLicenseUrl},</if>
            <if test="entLogoUrl != null">ent_logo_url = #{entLogoUrl},</if>
            <if test="consumerAccount != null and consumerAccount != ''">consumer_account = #{consumerAccount},</if>
            <if test="auditStatus != null">audit_status = #{auditStatus},</if>
            <if test="recordStatus != null">record_status = #{recordStatus},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
        </trim>
        where id = #{id}
    </update>

    <!-- 根据主键删除服务购买方-企业信息ConsumerEnterpriseInfo对象 -->
    <delete id="deleteConsumerEnterpriseInfoById" parameterType="Long">
        <!-- 物理删除$服务购买方-企业信息ConsumerEnterpriseInfo 
        delete from consumer_enterprise_info where id = #{id}
        -->
        <!-- 逻辑删除服务购买方-企业信息ConsumerEnterpriseInfo -->
        update consumer_enterprise_info set record_status = 'DELETED' 
        where id = #{id}
    </delete>

    <!-- 根据主键批量删除服务购买方-企业信息ConsumerEnterpriseInfo对象 -->
    <delete id="deleteConsumerEnterpriseInfoByIds" parameterType="String">
        <!-- 物理删除服务购买方-企业信息ConsumerEnterpriseInfo
        delete from consumer_enterprise_info where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
        -->
        <!-- 逻辑删除服务购买方-企业信息ConsumerEnterpriseInfo -->
        update consumer_enterprise_info set record_status = 'DELETED' 
        where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>