<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.groqdata.provider.mapper.ProviderPersonalInfoMapper">
    
    <!-- 个人信息ProviderPersonalInfo对象字段映射 -->
    <resultMap type="ProviderPersonalInfo" id="ProviderPersonalInfoResult">
        <result property="id"    column="id"    />
        <result property="cardType"    column="card_type"    />
        <result property="cardNo"    column="card_no"    />
        <result property="personName"    column="person_name"    />
        <result property="providerAccount"    column="provider_account"    />
        <result property="providerNickname"    column="provider_nickname"    />
        <result property="auditStatus"    column="audit_status"    />
        <result property="recordStatus"    column="record_status"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBy"    column="update_by"    />
    </resultMap>

    <!-- 个人信息ProviderPersonalInfo对象列表VO -->
    <sql id="selectProviderPersonalInfoVo">
        select  ppi.id, ppi.card_type, ppi.card_no, ppi.person_name, ppi.provider_account, pui.nickname as provider_nickname,
        ppi.audit_status, ppi.record_status, ppi.create_time, ppi.create_by, ppi.update_time, ppi.update_by 
        from provider_personal_info ppi
        left join provider_user_info pui on ppi.provider_account = pui.account
    </sql>

    <!-- 通用查询个人信息ProviderPersonalInfo列表 -->
    <select id="selectProviderPersonalInfoList" parameterType="ProviderPersonalInfo" resultMap="ProviderPersonalInfoResult">
        <include refid="selectProviderPersonalInfoVo"/>
        <where>  
            <if test="cardType != null  and cardType != ''"> and ppi.card_type = #{cardType}</if>
            <if test="cardNo != null  and cardNo != ''"> and ppi.card_no like concat('%', #{cardNo}, '%')</if>
            <if test="personName != null  and personName != ''"> and ppi.person_name = #{personName}</if>
            <if test="providerAccount != null  and providerAccount != ''"> and ppi.provider_account = #{providerAccount}</if>
            <if test="auditStatus != null  and auditStatus != ''"> and ppi.audit_status = #{auditStatus}</if>
            <if test="recordStatus != null  and recordStatus != ''"> and ppi.record_status = #{recordStatus}</if>
            <if test="params.beginCreateTime != null and params.endCreateTime != null "> 
                    and ppi.create_time between CAST(#{params.beginCreateTime}  AS TIMESTAMP) and CAST(#{params.endCreateTime} AS TIMESTAMP)
            </if> 
        </where>
        order by ppi.create_time desc
    </select>
    
    
    <!-- 根据主键ID查询个人信息ProviderPersonalInfo对象 -->
    <select id="selectProviderPersonalInfoById" parameterType="Long" resultMap="ProviderPersonalInfoResult">
        <include refid="selectProviderPersonalInfoVo"/>
        where ppi.id = #{id}
    </select>
    
    
    <!-- 根据Account查询个人信息ProviderPersonalInfo对象 -->
    <select id="selectProviderUserInfoByAccount" parameterType="String" resultMap="ProviderPersonalInfoResult">
        <include refid="selectProviderPersonalInfoVo"/>
        where ppi.provider_account = #{account}
        limit 1
    </select>

    <!-- 新增个人信息ProviderPersonalInfo对象 -->
    <insert id="insertProviderPersonalInfo" parameterType="ProviderPersonalInfo" useGeneratedKeys="true" keyProperty="id">
        insert into provider_personal_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="cardType != null">card_type,</if>
            <if test="cardNo != null">card_no,</if>
            <if test="personName != null">person_name,</if>
            <if test="providerAccount != null and providerAccount != ''">provider_account,</if>
            <if test="auditStatus != null">audit_status,</if>
            <if test="recordStatus != null">record_status,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="updateBy != null">update_by,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="cardType != null">#{cardType},</if>
            <if test="cardNo != null">#{cardNo},</if>
            <if test="personName != null">#{personName},</if>
            <if test="providerAccount != null and providerAccount != ''">#{providerAccount},</if>
            <if test="auditStatus != null">#{auditStatus},</if>
            <if test="recordStatus != null">#{recordStatus},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
         </trim>
    </insert>

    <!-- 更新个人信息ProviderPersonalInfo对象 -->
    <update id="updateProviderPersonalInfo" parameterType="ProviderPersonalInfo">
        update provider_personal_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="cardType != null">card_type = #{cardType},</if>
            <if test="cardNo != null">card_no = #{cardNo},</if>
            <if test="personName != null">person_name = #{personName},</if>
            <if test="providerAccount != null and providerAccount != ''">provider_account = #{providerAccount},</if>
            <if test="auditStatus != null">audit_status = #{auditStatus},</if>
            <if test="recordStatus != null">record_status = #{recordStatus},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
        </trim>
        where id = #{id}
    </update>

    <!-- 根据主键删除个人信息ProviderPersonalInfo对象 -->
    <delete id="deleteProviderPersonalInfoById" parameterType="Long">
        <!-- 物理删除$个人信息ProviderPersonalInfo 
        delete from provider_personal_info where id = #{id}
        -->
        <!-- 逻辑删除个人信息ProviderPersonalInfo -->
        update provider_personal_info set record_status = 'DELETED' 
        where id = #{id}
    </delete>

    <!-- 根据主键批量删除个人信息ProviderPersonalInfo对象 -->
    <delete id="deleteProviderPersonalInfoByIds" parameterType="String">
        <!-- 物理删除个人信息ProviderPersonalInfo
        delete from provider_personal_info where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
        -->
        <!-- 逻辑删除个人信息ProviderPersonalInfo -->
        update provider_personal_info set record_status = 'DELETED' 
        where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>